In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('http://13.234.66.67/summer19/datasets/social.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 5 columns):
User ID            400 non-null int64
Gender             400 non-null object
Age                400 non-null int64
EstimatedSalary    400 non-null int64
Purchased          400 non-null int64
dtypes: int64(4), object(1)
memory usage: 15.7+ KB

In [4]:
#top5 rows
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [5]:

#we don't need  userid so removing
filterdata=df.iloc[0:,2:].values

In [6]:
#now we plly training test
features=filterdata[0:,0:2]

In [7]:
label=filterdata[0:,2]

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
X,x,Y,y=train_test_split(features,label,test_size=0.2)

In [10]:
#now apply feature scalimg as age and salary are not comparable 
from sklearn.preprocessing import StandardScaler

In [11]:
sc=StandardScaler()

In [12]:
#apply scaling in training data only 
X=sc.fit_transform(X)

In [13]:
#testing data scaling
x=sc.transform(x)

In [14]:
#KNN
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import  RandomForestClassifier

In [15]:
#random forest call with no of dec tree
Rclf=RandomForestClassifier(n_estimators=20)#by default 10

In [16]:
#now traing 
trained=Rclf.fit(X,Y)

In [18]:
#now predicting
output=trained.predict(x)

In [19]:
from sklearn.metrics import accuracy_score
accuracy_score(output,y)

0.9375